<div class="center hero-unit">
  <h1>Welcome to the Flipped Classroom!</h1>

  <h2>
    Signup to learn lots!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>