<% provide(:title, 'Lessons') %>
<h1>Lessons</h1>

<ul id="lessons" class="nav nav-pills pull-left"> 
	<%= render @lessons %>
	<li></li>
</ul>


<%= link_to "New Lesson", new_lesson_path, class: "btn btn-large btn-primary pull-right" %>

<div class="clear">&nbsp;</div>