<% provide(:title, @dc.name) %>
<h1><%= @dc.name %></h1>
<div id="downloadInstructions" class="center row"><%= @dc.instructions %></div>
<br/>
<div class="center row"><%= link_to "Download", @dc.download_link, :class => "btn btn-small", :target => "_blank" %></div>
 